{# 继承bootstrap中的base.html #}
{% extends "homepage.html" %}
{# 块修改标题 #}
{% block title %}Event{% endblock %}

{# css块 #}
{% block styles %}
    {{super()}}
<style>
    .label-250{background-color: #ACD6FF}
    .label-500{background-color: #D2A2CC}
    .label-1000{background-color: #FFA042}
    .label-GS{background-color: #FF2D2D}
    .label-Cup{background-color: #FF95CA}
    .label-Davis{background-color: #ffa6ff}
    .label-F{background-color: #EAC100}
    .label-O{background-color: #00DB00}
    .label-Next{background-color: #BEBEBE}
    .label-W{background-color: #00A600}
    .label-Fi{background-color: #8080C0}
    .label-SF{background-color: #EAC100}
    .label-QF{background-color: #81C0C0}
    .label-R{background-color: #C2C287}
    .label-RD{background-color: #CF9E9E}
    .label-Qy{background-color: #DEDEBE}
    #tbl{ width:85%; position: absolute; left: 100px; top: 0px;}
    .bg-level-G{background-color: #FFC0CB}
    .bg-level-F{background-color: #FFFACD}
    .bg-level-L{background-color: #FFFFE0}
    .bg-level-M{background-color: #FFEFD5}
    .bg-level-O{background-color: #F0FFF0}
    .bg-level-A{background-color: #E6E6FA}
    .bg-level-B{background-color: #DCDCDC}
    .bg-surface-H{background-color: #ADD8E6}
    .bg-surface-C{background-color: #FFB6C1}
    .bg-surface-G{background-color:	#98FB98}
    .bg-surface-P{background-color:	#FFFACD}
</style>
{% endblock %}

{# JavaScript块 #}
{% block scripts %}
    {{super()}}
<script>
    var result = document.getElementById('table');
    var data = {{ data|tojson }};
    var tp = {{ tp|tojson }};
    function show_fstpage()
    {
    	var con = "";
		for (var i=0; i<25; i++)
		{
			if (i>=data.length)
			{
				break;
			}
			var tour = data[i];
			con = con + '<tr style="height:32px;" bgcolor="#F0F0F0"> <td>'+tour[0]+' </td> <td> <a href="/tournament%3FTour%3D'+tour[8]+'&Year%3D'+tour[7]+'" target="_blank" class="'+tour[18]+'">'+tour[1]+'</a>  </td> <td> <span class="'+tour[19]+'">'+tour[2]+'</span>  </td> <td> <span class="'+tour[19]+'" style="opacity:'+tour[12]/80+'">'+tour[12]+'</span>  </td> <td> '+tour[13]+' </td> <td>'+tour[16]+' </td><td>'+tour[6]+'</td><td><span class="'+ tour[20] +'">' + tour[4] + '</span></td> </tr>';
		}
		result.innerHTML=con;
		plic = Math.min(5,tp);
		for (var i=plic;i<{{ tp|tojson }};i++)
		{
			document.getElementById('page'+i).style.setProperty('display','none');
		}
		for (var i=0;i<plic;i++)
		{
			document.getElementById('page'+i).style.setProperty('display','inline');
		}
		document.getElementById('tpnum').innerHTML = 'total pages: ' + tp;
    }

    function getcontent(i)
    {
        //var data = {{ data|tojson }};
        var start = 25*i;
        var end = 25*i+25;
        var con = "";
        for (var i=start; i<end; i++)
        {
            if (i>=data.length)
            {
                break;
            }
            var tour = data[i];
            con = con + '<tr style="height:32px;" bgcolor="#F0F0F0"> <td>'+tour[0]+' </td> <td> <a href="/tournament%3FTour%3D'+tour[8]+'&Year%3D'+tour[7]+'" target="_blank" class="'+tour[18]+'">'+tour[1]+'</a>  </td> <td> <span class="'+tour[19]+'">'+tour[2]+'</span>  </td> <td> <span class="'+tour[19]+'" style="opacity:'+tour[12]/80+'">'+tour[12]+'</span>  </td> <td> '+tour[13]+' </td> <td>'+tour[16]+' </td><td>'+tour[6]+'</td><td><span class="'+ tour[20] +'">' + tour[4] + '</span></td> </tr>';
		}
        return con;
    }

        function showpre()
        {
            var page = Number(document.querySelector(".active-tag").innerHTML)-1;

            if (page == 0)
            {
                return 0;
            }

            page = page-5;

            if (page <0)
            {
                page = 0;
            }
            var pg = document.querySelector("#page"+page);
            var tg = document.querySelector("#tag"+page);
            var result = document.getElementById('table');
            result.innerHTML=getcontent(page);
            var end = data.length;
            var start = page*25+1;
            if (page*25+25<end)
            {
                end = page*25+25;
            }
            document.querySelector(".active-page").className='default';
            document.querySelector(".active-tag").className='default';
            pg.className = 'active active-page';
            tg.className = 'active active-tag';
            var iv=[0,5];
            if (page==0 || page==1)
            {
                iv = [0,5];
            }
            else if(page==tp-1 || page==tp-2)
            {
                iv = [tp-5,tp];
            }
            else
            {
                iv = [page-2,page+3];
            }
            for (var i=0;i<tp;i++)
            {
                if (i>=iv[0] && i<iv[1])
                {
                    document.getElementById('page'+i).style.setProperty('display','inline');
                    continue;
                }
                document.getElementById('page'+i).style.setProperty('display','none');
            }
            var end = data.length;
            var start = i*25+1;
            if (i*25+25<end)
            {
                end = i*25+25;
            }
        }

        function shownext()
        {
            var page = Number(document.querySelector(".active-tag").innerHTML)-1;
            if (page == Number(tp)-1)
            {
                return 0;
            }
            page = page+5;
            if (page >= Number(tp))
            {
                page = tp-1;
            }
            var end = data.length;
            var start = page*25+1;
            if (page*25+25<end)
            {
                end = page*25+25;
            }

            var pg = document.querySelector("#page"+page);
            var tg = document.querySelector("#tag"+page);
            var result = document.getElementById('table');
            result.innerHTML=getcontent(page);
            document.querySelector(".active-page").className='default';
            document.querySelector(".active-tag").className='default';
            pg.className = 'active active-page';
            tg.className = 'active active-tag';
            var iv=[0,5];
            if (page==0 || page==1)
            {
                iv = [0,5];
            }
            else if(page==tp-1 || page==tp-2)
            {
                iv = [tp-5,tp];
            }
            else
            {
                iv = [page-2,page+3];
            }
            for (var i=0;i<tp;i++)
            {
                if (i>=iv[0] && i<iv[1])
                {
                    document.getElementById('page'+i).style.setProperty('display','inline');
                    continue;
                }
                document.getElementById('page'+i).style.setProperty('display','none');
            }
        }

        function showgo()
        {
            var page = Number(document.querySelector("#go").value)-1;
            if (page <= 0)
            {
                page = 0;
            }
            if (page >= Number(tp))
            {
                page = tp-1;
            }
            var end = data.length;
            var start = page*25+1;
            if (page*25+25<end)
            {
                end = page*25+25;
            }

            var pg = document.querySelector("#page"+page);
            var tg = document.querySelector("#tag"+page);
            var result = document.getElementById('table');
            result.innerHTML=getcontent(page);
            document.querySelector(".active-page").className='default';
            document.querySelector(".active-tag").className='default';
            pg.className = 'active active-page';
            tg.className = 'active active-tag';
            var iv=[0,5];
            if (page==0 || page==1)
            {
                iv = [0,5];
            }
            else if(page==tp-1 || page==tp-2)
            {
                iv = [tp-5,tp];
            }
            else
            {
                iv = [page-2,page+3];
            }
            for (var i=0;i<tp;i++)
            {
                if (i>=iv[0] && i<iv[1])
                {
                    document.getElementById('page'+i).style.setProperty('display','inline');
                    continue;
                }
                document.getElementById('page'+i).style.setProperty('display','none');
            }
        }

        function getpage(i)
        {
            var end = data.length;
            var start = i*25+1;
            if (i*25+25<end)
            {
                end = i*25+25;
            }
            var page = Number(document.querySelector(".active-tag").innerHTML)-1;
            if (i==page)
            {
                return 0;
            }
            var pg = document.querySelector("#page"+i);
            var tg = document.querySelector("#tag"+i);
            var result = document.getElementById('table');
            result.innerHTML=getcontent(i);
            document.querySelector(".active-page").className='default';
            document.querySelector(".active-tag").className='default';
            pg.className = 'active active-page';
            tg.className = 'active active-tag';
            var iv=[0,5];
            if (i==0 || i==1)
            {
                iv = [0,5];
            }
            else if(i==tp-1 || i==tp-2)
            {
                iv = [tp-5,tp];
            }
            else
            {
                iv = [i-2,i+3];
            }
            for (var i=0;i<tp;i++)
            {
                if (i>=iv[0] && i<iv[1])
                {
                    document.getElementById('page'+i).style.setProperty('display','inline');
                    continue;
                }
                document.getElementById('page'+i).style.setProperty('display','none');
            }
        }
    </script>
    <script>
        function reloadTournamentEvents()
        {
            var season = $("#season").val();
            var level = $("#level").val();
            var surface = $("#surface").val();
            var tournamentId = $("#tournament").val();
            $.ajax({
            url:"/selecttournament",
            type:"post",
            data: {'eid':tournamentId, 'year':season, 'level':level, 'surface':surface},
            dataType: 'json',
            success:function(response,status,xhr){
            	data = response;
            	tp = Math.ceil(data.length/25);
            	show_fstpage();
            },
            error:function(jqXHR, textStatus, errorThrown){
            	console.log(textStatus,errorThrown);
            	}
            })
        }
    </script>
<script>
	function sort_byvalue(index) {
		$.ajax({
            url:"/sortvalue",
            type:"post",
            data: {'value':index},
            dataType: 'json',
            success:function(response,status,xhr){
            	data = response;
            	tp = Math.ceil(data.length/25);
            	show_fstpage();
            	getpage(0);
            },
            error:function(jqXHR, textStatus, errorThrown){
            	console.log(textStatus,errorThrown);
            	}
            })
	}
</script>
{% endblock %}

{# 块内容 #}
{% block content %}
<body onload="show_fstpage()">
<img src="./static/123.jpg" style="opacity:0.2; width:100%; height:100%; position: fixed; top: 50px;" >
<div style="position:absolute;top:90px;width:100%">
    <div class="row margin-top" style="position:relative;left:7%;top:10px;width:92%">
		<div class="col-md-3">
			<h4 class="text-nowrap" style="display: inline;position:relative;top:8px"><i class="fa fa-th-list"></i> &nbsp; {{ player }}</h4>
		</div>
		<div class="col-md-2">
			<select id="season" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by season">
				<option value="all">All seasons</option>
				<option value="-1">Last 52 Weeks</option>
				{% for i in range(2024,1989,-1) %}
					<option value="{{ i }}">{{ i }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-2">
			<select id="level" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by tournament level">
				<option value="all">All levels</option>
				<option value="Grand Slam" class="bg-level-G">Grand Slam</option>
				<option value="Tour Final" class="bg-level-F">Tour Finals</option>
				<option value="Alt. Tour Final" class="bg-level-L">Alt. Finals</option>
				<option value="ATP1000" class="bg-level-M">Masters</option>
				<option value="Olympics" class="bg-level-O">Olympics</option>
				<option value="ATP500" class="bg-level-A">ATP 500</option>
				<option value="ATP250" class="bg-level-B">ATP 250</option>
				<option value="B">Big (GS/TF/AF/M/O)</option>
				<option value="AB">Small (500/250)</option>
			</select>
		</div>
		<div class="col-md-2">
			<select id="surface" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by surface">
				{% if status == '1' %}
					<option value="all">All surfaces</option>
					<option value="Hard" class="bg-surface-H">Hard</option>
					<option value="Clay" class="bg-surface-C">Clay</option>
					<option value="Grass" class="bg-surface-G">Grass</option>
					<option value="Carpet" class="bg-surface-P">Carpet</option>
				{% elif status in lock[1:5] %}
					{% if status == lock[1] %}
						<option value="Hard" class="bg-surface-H">Hard</option>
					{% elif status == lock[2] %}
						<option value="Clay" class="bg-surface-C">Clay</option>
					{% elif status == lock[3] %}
						<option value="Grass" class="bg-surface-G">Grass</option>
					{% else %}
						<option value="Carpet" class="bg-surface-P">Carpet</option>
					{% endif %}
				{% else %}
					<option value="all">All surfaces</option>
					<option value="Hard" class="bg-surface-H">Hard</option>
					<option value="Clay" class="bg-surface-C">Clay</option>
					<option value="Grass" class="bg-surface-G">Grass</option>
					<option value="Carpet" class="bg-surface-P">Carpet</option>
				{% endif %}
			</select>
		</div>
		<div class="col-md-3">
		<div id="tournamentDiv" class="btn-group margin-right no-margin-left">
		<select id="tournament" class="form-control" onchange="reloadTournamentEvents()" data-toggle="tooltip" data-placement="top" title="Filter by tournament">
			<option value="all">All tournaments</option>
			<optgroup label="Grand Slam" class="bg-level-G">
				<option value="580" class="bg-level-G">Australian Open</option>
				<option value="520" class="bg-level-G">Roland Garros</option>
				<option value="540" class="bg-level-G">Wimbledon</option>
                <option value="560" class="bg-level-G">US Open</option>
			</optgroup><optgroup label="Tour Finals" class="bg-level-F">
				<option value="605" class="bg-level-F">Tour Finals</option>
			</optgroup><optgroup label="Alt. Finals" class="bg-level-L">
				<option value="604" class="bg-level-L">Grand Slam Cup</option>
			</optgroup><optgroup label="Masters" class="bg-level-M">
				<option value="404" class="bg-level-M">Indian Wells Masters</option>
				<option value="403" class="bg-level-M">Miami Masters</option>
				<option value="410" class="bg-level-M">Monte Carlo Masters</option>
				<option value="1536" class="bg-level-M">Madrid Masters</option>
				<option value="416" class="bg-level-M">Rome Masters</option>
				<option value="421" class="bg-level-M">Canada Masters</option>
				<option value="422" class="bg-level-M">Cincinnati Masters</option>
				<option value="5014" class="bg-level-M">Shanghai Masters</option>
				<option value="352" class="bg-level-M">Paris Masters</option>
				<option value="414" class="bg-level-M">Hamburg Masters</option>
				<option value="357" class="bg-level-M">Stuttgart Masters</option>
				<option value="430" class="bg-level-M">Essen Masters</option>
			</optgroup><optgroup label="Olympics" class="bg-level-O">
				<option value="8421" class="bg-level-O">Olympics</option>
			</optgroup><optgroup label="ATP 500" class="bg-level-A">
				{% for eiditem in eidlist['ATP500'] %}
				<option value="{{ eiditem[0] }}" class="bg-level-M">{{ eiditem[1] }}</option>
				{% endfor %}
			</optgroup><optgroup label="ATP 250" class="bg-level-B">
				{% for eiditem in eidlist['ATP250'] %}
				<option value="{{ eiditem[0] }}" class="bg-level-M">{{ eiditem[1] }}</option>
				{% endfor %}
			</optgroup><optgroup label="Others" class="bg-level-H">
				<option value="502" class="bg-level-H">Boston</option>
				<option value="523" class="bg-level-H">Brisbane-Perth-Sydney</option>
				<option value="392" class="bg-level-H">Milan</option>
				<option value="499" class="bg-level-H">Tokyo</option>
			</optgroup>
		</select>
		</div>
	</div>
	</div>
</div>
<div style="position:absolute;top:150px;width:100%">
    <table class="table table-condensed table-striped" border="0" cellspacing="1" id="tbl">
             <thead style="height:40px;font-family:Times New Roman;font-size:12pt;">
             <tr>
                 <th onclick="sort_byvalue('Date')"> Date &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i> </th> <th>&nbsp;Name </th> <th>&nbsp;Surface </th> <th>&nbsp;Speed </th> <th>&nbsp;Draw </th> <th>&nbsp;Part. </th> <th onclick="sort_byvalue('score')"> Score &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i> </th> <th>&nbsp;Result </th>
             </tr>
             </thead>
        <tbody id = 'table'>
        </tbody>
        <tfoot>
            <tr>
                <th style="height:40px;text-align: center;" colspan="7">
                    {% if tp >= 2 %}
                    <nav aria-label="Page navigation" style="position:relative;top:0px;">
                      <ul id="pagination" class="pagination">
                          <li>
                              <a href="#" aria-label="Previous" onclick="showpre()" id="prepage">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                          </li>
                          {% for i in range(0,tp) %}
                              {% if i == 0 %}
                                <li id="page{{ i }}" class="active active-page"><a href="#" id="tag{{ i }}" class="active active-tag" onclick="getpage({{ i }})">{{ i+1 }}</a></li>
                              {% else %}
                                <li id="page{{ i }}"><a href="#" id="tag{{ i }}" onclick="getpage({{ i }})">{{ i+1 }}</a></li>
                              {% endif %}
                          {% endfor %}
                          <li>
                              <a href="#" aria-label="Next" onclick="shownext()" id="nextpage">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                          </li>
                          <li>
                              <div class="col-lg-3" style="position:relative;left:0px">
                                  <div class="input-group">
                                  <input type="text" class="form-control" placeholder="" id="go" onclick="javascript:this.value=''">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="showgo()" id="gopage">Go!</button>
                                  </span>
                                </div><!-- /input-group -->
                              </div><!-- /.col-lg-6 -->
                          </li>
                          <li>
                              <div id="tpnum" style="position:relative;top:6px">
                              </div>
                          </li>
                      </ul>
                    </nav>
                    {% endif %}
                </th>
            </tr>
        </tfoot>
    </table>
</div>
</body>
{% endblock %}