{# 继承bootstrap中的base.html #}
{% extends "homepage.html" %}
{# 块修改标题 #}
{% block title %}{{ tour_name }}{% endblock %}

{# 块导航栏 #}


{# css块 #}
{% block styles %}
    {{super()}}
<style>
    .tour_info{position:absolute; left: 15%; top: 280px; right: 20px; width:20%}
    .SelectTour{position: absolute; left: 0px; top: 100px; right: 20px;}
    .matchres{ width:95%; position: absolute; left: 50px; top: 0px;}
    .hr { border-bottom: 3px solid LightGray; margin: 10px 0; width: 100%;}
    .queryres{ width:68%; position: absolute; top: 5px; left:95px;}
    .Tourinfo{ position: absolute; left: 8%; top: 55px;width: 85%; height: 300px;background: linear-gradient(white, LightGray, Gray);}
</style>
{% endblock %}

{# JavaScript块 #}
{% block scripts %}
    {{super()}}

<script>
    function check_v2()
    {
        var con1 = document.querySelector(".tour").value;
        var con2 = document.querySelector(".year").value;

        if (con1 == '')
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    function jump(e){
        window.location.href = e.value;
    }

    function ajaxstats(eid,year,matchid,pid,p,name)
    {
        $.ajax({
            url:"/stats",
            type:"post",
            data: {'eid':eid, 'year':year, 'match_id':matchid},
            dataType: 'json',
            success:function(response,status,xhr){
                var sc = "";
                for (i=0;i<p[0].length;i++)
                {
                    if (p[0][i]=='' || p[1][i]=='')
                    {
                        break;
                    }
                    else if(p[0][i]==' ' || p[1][i]==' ')
                    {
                        continue;
                    }
                    var s1 = p[0][i];
                    var s2 = p[1][i];
                    if (s1.length == 2)
                    {
                        s1 = s1[0];
                    }
                    if (s2.length == 2)
                    {
                        s2 = s2[0];
                    }
                    if (s1>=s2)
                    {
                        sc = sc + "<tr><td>&nbsp;&nbsp;</td><td style='background:LightGreen;width:25px;height:25px;border: 2px solid white'>"+s1+"</td><td style='background:LightGray;width:25px;height:25px;border: 2px solid white'>"+s2+"</td><td>&nbsp;&nbsp;</td></tr>";
                    }
                    else
                    {
                        sc = sc + "<tr><td>&nbsp;&nbsp;</td><td style='background:LightGray;width:25px;height:25px;border: 2px solid white'>"+s1+"</td><td style='background:LightGreen;width:25px;height:25px;border: 2px solid white'>"+s2+"</td><td>&nbsp;&nbsp;</td></tr>";
                    }
                }
                if (sc == "")
                {
                    sc = "<tr><td>&nbsp;&nbsp;</td><td style='background:LightGreen'>0</td><td style='background:LightGreen'>0</td><td>&nbsp;&nbsp;</td></tr>";
                }
                var con = "<tr><td><img src='./static/Player_Photo_head/"+pid[0]+".webp' onerror=javascript:this.style.display='none' style='width:120px'></td><td><div style='text-align:center;font-family:Arial;font-weight:800;color:white'><table style='width:100%;position:relative;top:0px'><tbody>"+sc+"</tbody></table></div></td><td><img src='./static/Player_Photo_head/"+pid[1]+".webp' onerror=javascript:this.style.display='none' style='width:120px'></td>";
                if (response == "")
                {
                    con = con + "<tr><td style='font-size:8pt'>"+name[0]+"</td><td></td><td style='font-size:8pt'>"+name[1]+"</td></tr><tr><td style='height:10px'>&nbsp;</td></tr>";
                    con = con + "<tr><td>&nbsp;</td></tr><tr><td></td><td>match has no data.</td><td></td>";
                    document.getElementById("table").innerHTML = con;
                }
                else
                {
                    var fs1 = response[5]-response[6];
                    var fs2 = response[14]-response[15];
                    var bp1 = response[9]-response[10];
                    var bp2 = response[18]-response[19];
                    var fr1 = fs2-response[16];
                    var fr2 = fs1-response[7];
                    var sr1 = response[15]-response[17];
                    var sr2 = response[6]-response[8];
                    con = con + "<tr><td style='font-size:8pt'>"+name[0]+"</td><td></td><td style='font-size:8pt'>"+name[1]+"</td></tr><tr><td style='height:10px'>&nbsp;</td></tr>";
                    con = con + "<tr><td>("+response[3]+"/"+response[5]+")&nbsp;"+Math.round(response[3]/response[5]*100)+"%</td><td>ACE</td><td>"+Math.round(response[12]/response[14]*100)+"%&nbsp;("+response[12]+"/"+response[14]+")</td></tr>";
                    con = con + "<tr><td>("+response[4]+"/"+response[5]+")&nbsp;"+Math.round(response[4]/response[5]*100)+"%</td><td>DF</td><td>"+Math.round(response[13]/response[14]*100)+"%&nbsp;("+response[13]+"/"+response[14]+")</td></tr>";
                    con = con + "<tr><td>("+fs1+"/"+response[5]+")&nbsp;"+Math.round(fs1/response[5]*100)+"%</td><td>1st Serve</td><td>"+Math.round(fs2/response[14]*100)+"%&nbsp;("+fs2+"/"+response[14]+")</td></tr>";
                    con = con + "<tr><td>("+response[7]+"/"+fs1+")&nbsp;"+Math.round(response[7]/fs1*100)+"%</td><td>1st Serve Won</td><td>"+Math.round(response[16]/fs2*100)+"%&nbsp;("+response[16]+"/"+fs2+")</td></tr>";
                    con = con + "<tr><td>("+response[8]+"/"+response[6]+")&nbsp;"+Math.round(response[8]/response[6]*100)+"%</td><td>2nd Serve Won</td><td>"+Math.round(response[17]/response[15]*100)+"%&nbsp;("+response[17]+"/"+response[15]+")</td></tr>";
                    con = con + "<tr><td>("+bp1+"/"+response[9]+")&nbsp;"+Math.round(bp1/(response[9]+0.001)*100)+"%</td><td>Break Point Won</td><td>"+Math.round(bp2/(response[18]+0.001)*100)+"%&nbsp;("+bp2+"/"+response[18]+")</td></tr>";
                    con = con + "<tr><td>("+fr1+"/"+fs2+")&nbsp;"+Math.round(fr1/fs2*100)+"%</td><td>1st Return Won</td><td>"+Math.round(fr2/fs1*100)+"%&nbsp;("+fr2+"/"+fs1+")</td></tr>";
                    con = con + "<tr><td>("+sr1+"/"+response[15]+")&nbsp;"+Math.round(sr1/response[15]*100)+"%</td><td>2nd Return Won</td><td>"+Math.round(sr2/response[6]*100)+"%&nbsp;("+sr2+"/"+response[6]+")</td></tr>";
                    document.getElementById("table").innerHTML = con;
                }
            }
        })
    }
</script>

{% endblock %}


{# 块内容 #}
{% block content %}
<body>
<img src="./static/123.jpg" style="opacity:0.15; width:100%; height:100%; position: fixed; top: 50px;" >
    <div class="Tourinfo">
        <img src="./static/trophy/{{ year|int%100+eid|int*100 }}.jpg" onerror=javascript:this.style.display='none' style="position:absolute;right:25%;height:300px;opacity:0.8">
        <img src="{{ img }}" style="width:60px; position:absolute;bottom:80px;left:40px;">&nbsp;
        {% if 'GS' not in img and 'United' not in img and 'ATP-Cup' not in img and 'Davis' not in img and 'Laver' not in img and 'NextGen' not in img %}
            {% if '357' in name_img %}
            <img src="{{ name_img }}" style="position:absolute;bottom:80px;left:110px;height:70px;">
            {% else %}
            <img src="{{ name_img }}" style="position:absolute;bottom:80px;left:110px;width:120px;">
            {% endif %}
        {% endif %}
        <span style="position:absolute;bottom:40px;left:30px;font-size:13pt;font-family:PingFang SC;color:white!important;font-weight:900">{{ tour_name }}
            <span style="font-size:10pt;font-family:Helvetica;font-weight:600">
                {% if tour_court == 'Grass' %}
                <label class="label label-success" style="position:relative;left:10px;bottom:1px">{{ tour_court }}</label>
                {% elif tour_court == 'Hard' %}
                <label class="label label-primary" style="position:relative;left:10px;bottom:1px">{{ tour_court }}</label>
                {% elif tour_court == 'Clay' %}
                <label class="label label-danger" style="position:relative;left:10px;bottom:1px">{{ tour_court }}</label>
                {% elif tour_court == 'Carpet' %}
                <label class="label label-warning" style="position:relative;left:10px;bottom:1px">{{ tour_court }}</label>
                {% else %}
                <label class="label label-default" style="position:relative;left:10px;bottom:1px">{{ tour_court }}</label>
                {% endif %}
            </span>
        </span>
        <span style="position:absolute;bottom:40px;left:900px;font-size:12pt;font-family:PingFang SC;color:white!important;font-weight:700">{{ date }}</span>
    </div>
    <div class='SelectTour'>
            <select class="form-control" name="year" data-toggle="tooltip" style="position: absolute; left: 80.5%; width:7%; top: 150px;text-align:center" onchange="jump(this)">
                    <option value="#" style="display:none">Year</option>
                    {% for p in yearlist %}
                          <option value="/tournament%3FTour%3D{{ eid }}%26Year%3D{{ p }}">{{ p }}</option>
                    {% endfor %}
            </select>
    </div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Match Technical Statistics</h4>
      </div>
      <div id="stats" class="modal-body" style="text-align:center; position:relative; width:100%; height:340px">
          <table class="queryres" border="0">
            <tbody id="table" style="font-family: Helvetica;">

            </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    {% if 'GS' in img %}
    <div style="text-align:left; font-family: Times New Roman; position:relative; top:350px; left:4%;width:91%">
    {% else %}
    <div style="text-align:left; font-family: Times New Roman; position:relative; top:350px; left:8%;width:80%">
    {% endif %}
        <table class="matchres" border="0" cellspacing="1" id="tbl">
            <tbody>
            {% for key, value in data.items() %}
            <tr>
                <th style="height:40px;" colspan="5"><div class="hr"> </div></th>
            </tr>
            {% for index in range(0,value|length,3) %}               
                <tr style="height:60px" >
                {% for i in range(3) %}
                    {% if index+i < value|length %}
                    <td>
                        <table width=95% class='match_result' border='0'>
                        <tbody>
                        <tr bgcolor="white"><td>&nbsp;&nbsp;{{ key }} &nbsp;&nbsp;Men's Single</td>
                            <td colspan="{{ value[index+i][-2][0]|length-2 }}"></td>
                            {% if key[0] == 'Q' and key[1] != 'F' %}
                            <td colspan="2" style="text-align:right"><a onclick="ajaxstats({{ '99'+eid }}, {{ year }}, {{ value[index+i][1] }}, {{ value[index+i][-3] }}, {{ value[index+i][-2] }}, ['{{ value[index+i][2] }}', '{{ value[index+i][5] }}'])" data-toggle="modal" data-target="#myModal">Stats&nbsp;</a></td>
                            {% else %}
                            <td colspan="2" style="text-align:right"><a onclick="ajaxstats({{ eid }}, {{ year }}, {{ value[index+i][1] }}, {{ value[index+i][-3] }}, {{ value[index+i][-2] }}, ['{{ value[index+i][2] }}', '{{ value[index+i][5] }}'])" data-toggle="modal" data-target="#myModal">Stats&nbsp;</a></td>
                            {% endif %}
                        </tr>
                            {% if value[index+i][3] == '' or value[index+i][6] == '' %}
                            <tr bgcolor="#ACD6FF">
                                <td style="white-space: nowrap;overflow: hidden">&nbsp;&nbsp;<img src="{{ value[index+i][4] }}" style="width: 22px; height: 22px;">&nbsp;&nbsp;{{ value[index+i][2] }}<span style="font-size:7pt">&nbsp;{{ ' ['+value[index+i][-1][0]|string+'] ' if value[index+i][-1][0] != '' }}</span>&nbsp;<span style="color:Gray;font-size:7pt">{{ value[index+i][3] }}</span></td>
                                {% for unit in value[index+i][-2][0] %}
                                {% if unit|length == 1 %}
                                <td style="width:25px;" align="center">{{ unit[0] }}&nbsp;</td>
                                {% else %}
                                <td style="width:25px;color:Gray" align="center">
                                    {% if unit[1]!=-2 %}
                                        {{ unit[0] }}<sup style="color:Gray">{{ unit[1] }}</sup>
                                    {% else %}
                                    {{ unit[0] }}&nbsp;
                                    {% endif %}
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            <tr bgcolor="white">
                                <td style="white-space: nowrap;overflow: hidden">&nbsp;&nbsp;<img src="{{ value[index+i][7] }}" style="width: 22px; height: 22px;">&nbsp;&nbsp;{{ value[index+i][5] }}<span style="font-size:7pt">&nbsp;{{ ' ['+value[index+i][-1][1]|string+'] ' if value[index+i][-1][1] != '' }}</span>&nbsp;<span style="color:Gray;font-size:7pt">{{ value[index+i][6] }}</span></td>
                                {% for unit in value[index+i][-2][1] %}
                                {% if unit|length == 1 %}
                                <td style="width:25px;" align="center">{{ unit[0] }}&nbsp;</td>
                                {% else %}
                                <td style="width:25px;color:Gray" align="center">
                                    {% if unit[1]!=-2 %}
                                        {{ unit[0] }}<sup style="color:Gray">{{ unit[1] }}</sup>
                                    {% else %}
                                    {{ unit[0] }}&nbsp;
                                    {% endif %}
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% else %}
                            {% if (value[index+i][3]+value[index+i][6])%2==1 %}
                            <tr bgcolor="#ACD6FF">
                                <td style="white-space: nowrap;overflow: hidden">&nbsp;&nbsp;<img src="{{ value[index+i][4] }}" style="width: 22px; height: 22px;">&nbsp;&nbsp;{{ value[index+i][2] }}<span style="font-size:7pt">&nbsp;{{ ' ['+value[index+i][-1][0]|string+'] ' if value[index+i][-1][0] != '' }}</span>&nbsp;<span style="color:Gray;font-size:7pt">{{ value[index+i][3] }}</span></td>
                                {% for unit in value[index+i][-2][0] %}
                                {% if unit|length == 1 %}
                                    <td style="width:25px;" align="center">{{ unit[0] }}&nbsp;</td>
                                {% else %}
                                <td style="width:25px;color:Gray" align="center">
                                    {% if unit[1]!=-2 %}
                                        {{ unit[0] }}<sup style="color:Gray">{{ unit[1] }}</sup>
                                    {% else %}
                                    {{ unit[0] }}&nbsp;
                                    {% endif %}
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            <tr bgcolor="white">
                                <td style="white-space: nowrap;overflow: hidden">&nbsp;&nbsp;<img src="{{ value[index+i][7] }}" style="width: 22px; height: 22px;">&nbsp;&nbsp;{{ value[index+i][5] }}<span style="font-size:7pt">&nbsp;{{ ' ['+value[index+i][-1][1]|string+'] ' if value[index+i][-1][1] != '' }}</span>&nbsp;<span style="color:Gray;font-size:7pt">{{ value[index+i][6] }}</span></td>
                                {% for unit in value[index+i][-2][1] %}
                                {% if unit|length == 1 %}
                                {% if unit[0] != 'RET' %}
                                <td style="width:25px;" align="center">{{ unit[0] }}&nbsp;</td>
                                {% else %}
                                <td style="width:25px;" align="center"><span style="font-size:8pt">{{ unit[0] }}&nbsp;</span></td>
                                {% endif %}
                                {% else %}
                                <td style="width:25px;color:Gray" align="center">
                                   {% if unit[1]!=-2 %}
                                        {{ unit[0] }}<sup style="color:Gray">{{ unit[1] }}</sup>
                                    {% else %}
                                    {{ unit[0] }}&nbsp;
                                    {% endif %}
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr> 
                            {% else %} 
                            <tr bgcolor="white">
                                <td style="white-space: nowrap;overflow: hidden">&nbsp;&nbsp;<img src="{{ value[index+i][7] }}" style="width: 22px; height: 22px;">&nbsp;&nbsp;{{ value[index+i][5] }}<span style="font-size:7pt">&nbsp;{{ ' ['+value[index+i][-1][1]|string+'] ' if value[index+i][-1][1] != '' }}</span>&nbsp;<span style="color:Gray;font-size:7pt">{{ value[index+i][6] }}</span></td>
                                {% for unit in value[index+i][-2][1] %}
                                {% if unit|length == 1 %}
                                    {% if unit[0] != 'RET' %}
                                    <td style="width:25px;" align="center">{{ unit[0] }}&nbsp;</td>
                                    {% else %}
                                    <td style="width:25px;" align="center"><span style="font-size:8pt">{{ unit[0] }}&nbsp;</span></td>
                                    {% endif %}
                                {% else %}
                                    <td style="width:25px;color:Gray" align="center">
                                        {% if unit[1]!=-2 %}
                                        {{ unit[0] }}<sup style="color:Gray">{{ unit[1] }}</sup>
                                        {% else %}
                                        {{ unit[0] }}&nbsp;
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            <tr bgcolor="#ACD6FF">
                                <td style="white-space: nowrap;overflow: hidden">&nbsp;&nbsp;<img src="{{ value[index+i][4] }}" style="width: 22px; height: 22px;">&nbsp;&nbsp;{{ value[index+i][2] }}<span style="font-size:7pt">&nbsp;{{ ' ['+value[index+i][-1][0]|string+'] ' if value[index+i][-1][0] != '' }}</span>&nbsp;<span style="color:Gray;font-size:7pt">{{ value[index+i][3] }}</span></td>
                                {% for unit in value[index+i][-2][0] %}
                                {% if unit|length == 1 %}
                                    <td style="width:25px;" align="center">{{ unit[0] }}&nbsp;</td>
                                {% else %}
                                <td style="width:25px;color:Gray" align="center">
                                    {% if unit[1]!=-2 %}
                                        {{ unit[0] }}<sup style="color:Gray">{{ unit[1] }}</sup>
                                    {% else %}
                                        {{ unit[0] }}&nbsp;
                                        {% endif %}
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endif %}
                        {% endif %}
                        </tbody>                          
                        </table>
                     </td>
                    <td width="20px"></td>
                    {% endif %} 
                {% endfor %}
                </tr>
            <tr style="height:20px"></tr>
                {% endfor %}
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
            <th style="height:40px;" colspan="4">&nbsp;</th>
            </tr>
            </tfoot>            
        </table>                                     
    </div>
    </div>
</body>
{% endblock %}